@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --fontMain: "Libre Baskerville", serif;
    --fontDestaque: "Tinos", serif;
    --fontDefault: Arial, Helvetica, sans-serif;
    --color1: #F9ECD7;
    --color2: #DECDB2;
    --color3: #D0A06B;
    --color4: #9B6D21;
    --color5: #43260E;
    --color6: #577550;
    --color7: #1e3a14;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--color2);
    font-family: var(--fontDefault);
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color6);
    text-align: center;
    margin-top: 0px;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
}

header h1 {
    font-family: var(--fontMain);
    font-size: 2em;
    color: var(--color1);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.514);
    margin: 10px;
}

header img {
    width: 70px;
    margin: 10px;
}

header div.logoTitulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav {
    margin-left: 100px;
}

nav a {
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    color: var(--color1);
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.548);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    transition-duration: 0.5s;
}

nav a:hover {
    color: var(--color7);
    background-color: var(--color2);
}

main h2 {
    font-family: var(--fontMain);
    font-size: 2em;
    margin: 10px;
}

main h3 {
    font-size: 1.2em;
    margin: 10px;
}

main img {
    width: 100%;
}

main .button {
    background-color: var(--color5);
    color: var(--color1);
    border-radius: 30px;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    margin: 20px;
    padding: 15px 20px;
    transition-duration: 0.5s;
}

main .button:hover {
    background-color: var(--color3);
    color: var(--color5);
}

section.section {
    display: flex;
    margin: 40px 0px;
    justify-content: center;
}


/*  */

section.sectionInicial div {
    margin: 10px;
}

section.sectionInicial img {
    max-width: 500px;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.486);
}

section.sectionInicial div {
    margin: 10px;
    margin-top: 70px;
}

section.sectionInicial h2 {
    margin: 40px;
    max-width: 500px;
    font-size: 2em;
}

section.sectionInicial p {
    margin: 40px;
    max-width: 500px;
    font-size: 1.1em;
}


/*  */

section.sectionMissao {
    background-color: var(--color1);
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 170px 50px;
}

section.sectionMissao div {
    flex: 0 0 50%;
    max-width: 500px;
    background-color: var(--color3);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

section.sectionMissao div:hover {
    transform: translateY(-10px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition-duration: 0.5s;
}

section.sectionMissao h2 {
    margin: 20px;
    margin-bottom: 5px;
    padding: 10px;
    max-width: 500px;
    font-size: 2em;
    color: var(--color5);
}

section.sectionMissao p,
section.sectionMissao ul {
    padding: 10px;
    margin: 30px;
    max-width: 500px;
    font-size: 1.2em;
}

section.sectionMissao li {
    margin: 10px;
    margin-top: 5px;
}


/*  */

section.sectionSobre {
    padding: 150px 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 70px 30px;
}

section.sectionSobre div {
    max-width: 600px;
}

section.sectionSobre img {
    max-width: 500px;
}

section.sectionSobre h2 {
    margin: 30px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 2em;
    color: var(--color5);
}

section.sectionSobre p {
    margin: 30px;
    margin-top: 10px;
    padding: 15px;
    font-size: 1.2em;
}


/*  */

footer {
    background-color: var(--color1);
    padding: 40px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 10px;
}

footer div {
    flex: 0 0 auto;
    margin: 30px;
}

footer h2 {
    color: var(--color5);
    margin-bottom: 10px;
    max-width: 300px;
}

footer div ul {
    list-style: none;
}

footer div li {
    margin: 10px;
    margin-bottom: 20px;
}

footer div a {
    text-decoration: none;
    color: var(--color5);
    font-size: 1.1em;
    transition-duration: 0.5s;
}

footer div a:hover {
    color: var(--color3);
}

footer p {
    margin: 10px;
}

footer>p {
    flex-basis: 100%;
    margin-left: 40px;
}


/*  */

@media (max-width: 1200px) {}

@media (max-width: 1150px) {
    section.sectionInicial ul {
        margin-bottom: 70px;
    }
}

@media (max-width: 800px) {
    section.section {
        flex-direction: column;
        margin: 20px 0px;
    }
    .section img {
        margin: 3px;
    }
    section.sectionInicial p {
        margin-right: 20px;
    }
    div.divImg {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section.sectionMissao p,
    section.sectionMissao ul {
        padding-bottom: 40px;
    }
    section.sectionMissao h2 {
        padding-top: 30px;
    }
    section.sectionSobre {
        padding: 150px 30px;
    }
}

@media (max-width: 760px) {
    header h1 {
        font-family: var(--fontMain);
        font-size: 2em;
        color: var(--color1);
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.514);
        margin-left: 0px;
    }
    header img {
        width: 70px;
        margin: 10px;
        margin-right: 0px;
    }
}

@media (max-width: 730px) {
    header {
        margin-top: 0px;
        padding: 15px;
    }
    header h1 {
        font-size: 1.7em;
        margin: 10px;
    }
    header img {
        display: none;
    }
    nav {
        margin-left: 10px;
    }
}

@media (max-width: 550px) {
    header {
        padding: 20px;
        margin-top: 0px;
    }
    header h1 {
        display: none;
    }
    header img {
        display: none;
    }
    nav {
        margin-left: 10px;
    }
}