@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --fontMain: "Libre Baskerville", serif;
    --fontDestaque: "Tinos", serif;
    --fontDefault: Arial, Helvetica, sans-serif;
    --color1: #F9ECD7;
    --color2: #DECDB2;
    --color3: #D0A06B;
    --color4: #9B6D21;
    --color5: #43260E;
    --color6: #577550;
    --color7: #1e3a14;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--color2);
    font-family: var(--fontDefault);
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color6);
    text-align: center;
    margin-top: 0px;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
}

header h1 {
    font-family: var(--fontMain);
    font-size: 2em;
    color: var(--color1);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.514);
    margin: 10px;
}

header img {
    width: 70px;
    margin: 10px;
}

header div.logoTitulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav {
    margin-left: 100px;
}

nav a {
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    color: var(--color1);
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.548);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    transition-duration: 0.5s;
}

nav a:hover {
    color: var(--color7);
    background-color: var(--color2);
}

main h2 {
    font-family: var(--fontMain);
    font-size: 2em;
    margin: 10px;
}

main h3 {
    font-size: 1.2em;
    margin: 10px;
}

main img {
    width: 100%;
}

main .button {
    background-color: var(--color5);
    color: var(--color1);
    border-radius: 30px;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    margin: 20px;
    padding: 15px 20px;
    transition-duration: 0.5s;
}

main .button:hover {
    background-color: var(--color3);
    color: var(--color5);
}

section.section {
    display: flex;
    margin: 40px 0px;
    justify-content: center;
}


/*  */

section.sectionApresentacao {
    background-color: var(--color1);
    padding: 100px;
}

section.sectionApresentacao h1 {
    color: var(--color5);
    font-family: var(--fontDestaque);
    font-size: 2em;
    margin: 20px;
}

section.sectionApresentacao p {
    color: var(--color5);
    font-size: 1.2em;
    margin: 10px;
}


/*  */

section.sectionBlogs {
    display: flex;
    flex-wrap: wrap;
    gap: 80px 50px;
    text-align: center;
}

section.sectionBlogs .blog {
    background-color: var(--color3);
    max-width: 410px;
    flex-wrap: wrap;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.445);
}

section.sectionBlogs .blog div {
    padding-bottom: 30px;
}

section.sectionBlogs .blog a {
    font-family: var(--fontDestaque);
    font-size: 2em;
    font-weight: bold;
    color: var(--color5);
    text-align: center;
    text-decoration: none;
    max-width: 400px;
    padding: 20px;
    padding-bottom: 10px;
    transition-duration: 0.5s;
}

section.sectionBlogs .blog a:hover {
    color: var(--color1);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.377);
}

section.sectionBlogs .blog p {
    text-align: center;
    max-width: 400px;
    padding: 20px;
    padding-bottom: 30px;
}


/*  */

footer {
    background-color: var(--color1);
    padding: 40px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 10px;
}

footer div {
    flex: 0 0 auto;
    margin: 30px;
}

footer h2 {
    color: var(--color5);
    margin-bottom: 10px;
    max-width: 300px;
}

footer div ul {
    list-style: none;
}

footer div li {
    margin: 10px;
    margin-bottom: 20px;
}

footer div a {
    text-decoration: none;
    color: var(--color5);
    font-size: 1.1em;
    transition-duration: 0.5s;
}

footer div a:hover {
    color: var(--color3);
}

footer p {
    margin: 10px;
}

footer>p {
    flex-basis: 100%;
    margin-left: 40px;
}


/*  */

@media (max-width: 1200px) {}

@media (max-width: 1150px) {}

@media (max-width: 800px) {
    section.section {
        flex-direction: column;
        margin: 20px 0px;
    }
    section.sectionApresentacao {
        padding: 50px;
    }
    section.sectionBlogs {
        justify-content: center;
        align-items: center;
        gap: 20px 50px;
    }
    section.sectionBlogs .blog {
        margin: 20px;
    }
}

@media (max-width: 760px) {
    header h1 {
        font-family: var(--fontMain);
        font-size: 2em;
        color: var(--color1);
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.514);
        margin-left: 0px;
    }
    header img {
        width: 70px;
        margin: 10px;
        margin-right: 0px;
    }
}

@media (max-width: 730px) {
    header {
        margin-top: 0px;
        padding: 15px;
    }
    header h1 {
        font-size: 1.7em;
        margin: 10px;
    }
    header img {
        display: none;
    }
    nav {
        margin-left: 10px;
    }
}

@media (max-width: 550px) {
    header {
        padding: 20px;
        margin-top: 0px;
    }
    header h1 {
        display: none;
    }
    header img {
        display: none;
    }
    nav {
        margin-left: 10px;
    }
}